<!DOCTYPE html>
<html>
    <head> 
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/animation.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
        
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Study Time Tracker</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
      
        </head>
        <body>

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="background-color: honeydew;">
            <div class="container">
        
              <div class="navbar-header" >
                <a class="navbar-brand"  style="color:#005AA7" href="/" >Study Time Tracker</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              </div>
        
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav navbar-right">
                    
                  <% if(!currentUser) {%>
                                   <li><a style="color:#005AA7" href="/login" >Login</a></li>
                    <li><a style="color:#005AA7" href="/signup">Sign Up</a>
                    </li> 
                      <%} else {%>
                        <li><a href="/sheets/<%=currentUser._id%>">Sheets</a></li>    
                        <li><a href="#"> Logged in as <%= currentUser.username.toUpperCase() %></a></li>
                    <li><a href="/logout">Logout</a></li>
                      <%}%>
                  </ul>
        
              </div>
          
          </nav>
        </div>