<%- include("partials/header") %>



<div class="container"  id="main">
    
    <h1 class="jumbotron" id="heading" style="text-align: center;" > Welcome to Study-Time Tracker Beta
        <%if(!currentUser){%>
        <p style="padding: 30px;">
        
            
        <span style="text-align: center;" >   <a class="btn btn-lg btn-success " style=" padding: 20px; margin: 20px 20px ;" href="/login">LogIn</a>
        </span>
            <span > <a class="btn btn-lg btn-success" style=" padding: 20px; margin: 20px 20px;" href="/signup">SignUp</a>
            </span>
            </p><%} else {%>

                <p style="padding: 30px;">
        
            
                    <span style="text-align: center;" > <a class="btn btn-lg btn-block btn-success" style=" padding: 20px; " href="/sheets/<%=currentUser._id%>"> Sheets</a>
                    </span>
                        
                    <%}%>

    </h1>
        
 
</div>

<%- include("partials/footer") %>
