<%- include("partials/header") %>

<h1> Tasklist will appear here
</h1>

<ul class="list">
</ul>


<script>
    /*
    var btn = document.getElementById('btn')
    var div = document.getElementById('tasklist')
btn.addEventListener('click' , function(){
    
    var XHR = new XMLHttpRequest();
    XHR.onreadystatechange = function(){
        if(XHR.readyState == 4 ){
            var task = JSON.parse(XHR.responseText)
                
            div.innerHTML = JSON.stringify(task[0] , null , 4)
           
        
        }
    }
    XHR.open('get', 'http://localhost:3002/tasklist')
    XHR.send()
})*/
$(document).ready(function(){
    $.getJSON("/todos/api")
    .then(addToDos)
})
function addToDos(todos){
    todos.forEach(function(todo){
       var newtodo = $ ('<li>' + todo.task + '</li>')
        $('.list').append(newtodo)
    })
}

</script>

<%- include("partials/footer") %>
