h1 {
  background: #0e61a8;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: normal;
}
input {
  background: #f7f7f7;
  width: 100%;
  padding: 8px 8px 8px 14px;
  box-sizing: border-box;
  font-size: 14px;
  border: 3px rgba(0, 0, 0, 0);
}

input:focus {
  background: white;
  border: 3px solid #2980b9;
  outline: none;
}
#tdlul {
  list-style: none;
  width: 100%;
  max-width: 420px;
  padding: 0;
}

#tdllist {
  float: right;
  background: white;
  width: 100%;
  max-width: 420px;
  height: 40 px;
  line-height: 40px;
  color: #666;
}
#tdllist :nth-child(even) {
  background-color: #0e61a8;
  color: white;
}

.fa-plus {
  float: right;
  margin-left: 5%;
  margin-right: auto;
  margin-top: 2px;
}

.fa-plus:hover {
  transition: 0.4s;
  transform: scale(1.2);
  opacity: 0.9;
}
.fa-plus:active {
  transform: scale(0.8);
}

#tdlcontainer {
  width: 80%;
  max-width: 420px;
  margin: 0 auto;
  margin-top: 5%;
  background: #f7f7f7;
  box-shadow: 0 0 460px rgba(0, 0, 0, 0.5);
}

.completed {
  color: gray;
  text-decoration: line-through;
}

input {
  display: none;
}

.hid {
  background: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0px;
  display: inline-block;
  transition: 0.8s linear;
  opacity: 0;
}

li:hover span {
  transition: 0.3s;
  width: 40px;
  opacity: 1;
}

#sbmt {
  background-color: #0e61a8;
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  border-radius: 12px;
  text-transform: uppercase;
}
